<div id="list-container">
  {% for task in tasks %}
    <div id="task-item-{{ task.id }}">
      <li>{{ task }} - {{ task.description }} - {{task.due_date}}</li> 
      <div>Owner - {{task.owner}}</div>                     
      <div>Assigned To - {{task.assigned_to}}</div> 
      {% if task.is_owner %} 
        <h4>Transfer ownership</h4>     
        <select hx-post="{% url 'task_change_request' task_id=task.id %}" hx-trigger="change" name="transfer_ownership" id="transfer_ownership" hx-swap="outerHTML">
          <option value="" disabled selected>Select User</option>
          {% for user in task.users %}
              <option value="{{ user}}">
                  {{ user.get_full_name|default:user.username }}
              </option>
          {% endfor %}
        </select>     
        <h4>Assign task to user</h4>     
        <select hx-post="{% url 'task_change_request' task_id=task.id %}" hx-trigger="change" name="assign_task" id="assign_task" hx-swap="outerHTML">
          <option value="" disabled selected>Select User</option>
          {% for user in task.users %}
              <option value="{{ user}}">
                  {{ user.get_full_name|default:user.username }}
              </option>
          {% endfor %}
        </select> 
        <h4>Delete Task</h4>         
        <button hx-post="{% url 'delete_task' task.id %}" hx-confirm="Are you sure?" hx-target="#list-container" hx-swap="outerHTML">
          Delete
        </button> 
      {% endif %}
    </div> 
  {% endfor %}
  {% if error %}
    <p>{{ error }}</p>  
  {% endif %}   
</div>