{% for organizationObject in organizations_with_admin_status %}
  <a hx-get="{% url 'set_selected_organization' organizationObject.organization.id %}"
    hx-target="#current-org"
    hx-swap="outerHTML"
    id="organization-item-{{ organizationObject.organization.id }}">
      <li>{{ organizationObject.organization }}</li>
  </a>
  {% if organizationObject.is_owner %}
    <button hx-post="{% url 'delete_organization' organizationObject.organization.id %}" hx-confirm="Are you sure?" hx-target="#organization-item-{{ organizationObject.organization.id }}" hx-swap="outerHTML">
      Delete
    </button>
  {% endif %}
{% endfor %}