{% extends "base.html" %}
{% block title %}Notifications{% endblock %}

{% block content %}

<h1>Notifications</h1>
{% for notification in notifications %}
  <div id="notification-container-id-{{notification.related_id}}">
    {{notification}}
    {% if not notification.is_archived and notification.allow_confirm %}
      <button  
        hx-target="#notification-container-id-{{notification.related_id}}"
        hx-post="{% url 'accept_notification' notification_id=notification.related_id %}" 
        hx-trigger="click">
        Confirm
      </button>
      <form 
        method="post" 
        hx-target="#notification-container-id-{{notification.related_id}}" 
        hx-post="{% url 'decline_notification' notification_id=notification.related_id %}">
        {% csrf_token %}
        <textarea name="decline_reason" placeholder="Enter reason for declining"></textarea>
        <button type="submit">Decline</button>
      </form>  
    {% elif not notification.is_archived and not notification.allow_confirm %}

    {% else %}
      <span>
        *Archived notification*
      </span>
    {% endif %}
  </div>
{% endfor %}

<!-- Error display -->
{% if error %}
    {{ error }} 
{% endif %}

{% endblock %}
