<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Project Management App</title>

    <!-- Add CSS and JavaScript links as needed -->
</head>
<body>
    <header>
        <!-- Navigation bar here -->
        <nav>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'tasks' %}">Tasks</a>
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}            
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Content will be overridden in child templates -->
        {% endblock %}
    </main>
    
    <footer>
        <!-- Footer content -->
    </footer>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
    </script>    
</body>
</html>
